---
---

@import "{{ site.theme }}";

//
// Variables
//

// light theme, unused
// $color-background-light: white;
// $color-foreground-dark: #232323;

$color-background-dark: #171717;
$color-foreground-light: #e2efff;

$color-backdrop: #24292e;

$color-accent-dark: #0366d6;
$color-accent-light: #83bcfe;

$font-family: -apple-system,"Nunito", sans-serif;

//
// Fonts
//

@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito-ExtraLight.ttf) format('truetype');
    font-weight: 200;
}

//
// Large sections
//

body {
    background-color: $color-backdrop;
    color: $color-foreground-light;
    font-family:$font-family;
    font-size: 16px;
    font-weight: 300;
    padding: 0px;
}

section {
    background-color: $color-background-dark;
    border: 1px solid $color-accent-light;
    border-top: none;
    border-bottom: none;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    min-height: 100vh;
}

header {
    border: 1px solid $color-accent-light;
    border-left: none;
    border-radius: 0px;
}

//
// Elements
//

h1, h1.header {
    color: $color-foreground-light;
    font-family:$font-family;  
}

h2 {
    color: $color-accent-light;
    border-bottom: 1px solid $color-foreground-light;
    font-family:$font-family;
    font-size: 24px;
}

h3 {
    color: $color-accent-light;
    border-bottom: 1px solid $color-foreground-light;
    font-family:$font-family;  
    font-size: 18px;
}

a.header, a.name, header a {
    color: $color-foreground-light;
}

a {
    font-weight: normal;
    color: $color-accent-light;
}

.buttons, button {
    font-family:$font-family;    
    font-size: 14px;
}

//
// header links
//

header li {
    background: $color-accent-dark;
    box-shadow: inset 0px 1px 1px 0 $color-accent-dark;
}

header li:hover {
    background: $color-accent-light;
    box-shadow: inset 0px 1px 1px 0 $color-accent-light;
}

button {
    background-color: $color-background-dark;
    color: black;
    font-size: 16px;
    margin: 0;
    line-height: 1.8em;
    -webkit-font-smoothing: antialiased;
}

a.linkedin {
    background: url(../img/linkedin-16.png) no-repeat 1px;
}

//
// nav bar
//

nav {
    float: right;
    ul {
        list-style-type: none;
    }
    li {
        float: left;
        position: relative;
        margin-left: 20px;
        line-height: 30px;
    }
    .dropdown-link {
        color: $color-accent-light;
    }
    button.dropdown-link {
        border: none;
        padding: 0px;
        &:focus {
            outline: none;
        }
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: $color-background-dark;
        z-index: 1;
        padding-left: 0px;
        min-width: 80px;
        a {
            color: $color-accent-light;
        }
        li {
            border-top: 1px solid $color-accent-light;
            width: 100%;
            margin: 0px;
            padding: 5px;
            box-sizing: border-box;
        }
        li:first-child {
            border-top: 0;
        }
        border-style: solid;
        border-width: 1px;
        right: 0px;
    }
}

//
// Responsive
//

.img-responsive { 
    width: 147px; 
    border-radius: 50%; 
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    position: static;
}

.split-header {
    display: inline-block;
    vertical-align: top;
}

header ul {
    position: static;
}

@media print, screen and (max-width: 960px) {
    header {
        margin-top: 0px;
        margin-right: 0px;
        border-top: none;
        border-right: none;
    }
    section {
        border: none;
    }
    .img-responsive { 
        width: 100px; 
        position: absolute;
        right: 190px;
        top: 20px;
    }
    .split-header.external {
        position: absolute;
        top: 31px;
        right: 20px;
    }
}

@media print, screen and (max-width: 720px) { 
    .img-responsive { 
        width: 80px; 
        position: absolute;
        right: 25px;
        top: 62px;
    }
    .split-header.profile {
        margin-right: -20px;
    }
    .split-header.external {
        position: static;
    }
}